main {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}
.tomato {
  background: linear-gradient(transparent, #00000044), tomato;
}
.mediumseagreen {
  background: linear-gradient(transparent, #00000044), mediumseagreen;
}
.steelblue {
  background: linear-gradient(transparent, #00000044), steelblue;
}
.indianred {
  background: linear-gradient(transparent, #00000044), indianred;
}
.teal {
  background: linear-gradient(transparent, #00000044), teal;
}
.goldenrod {
  background: linear-gradient(transparent, #00000044), goldenrod;
}
.mediumorchid {
  background: linear-gradient(transparent, #00000044), mediumorchid;
}
.peru {
  background: linear-gradient(transparent, #00000044), peru;
}
.cadetblue {
  background: linear-gradient(transparent, #00000044), cadetblue;
}
::-webkit-scrollbar {
  display: none;
}
